html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 20px;
  padding: 0;
}

button {
  margin-right: 0.5em;
}

button:last-child {
  margin-right: 0;
}

section {
  margin: 1em 0;
}
